@import "~bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "react-image-crop/dist/ReactCrop.css";

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #faf5f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #2d3748;
}

p {
  color: #718096;
}
